## Import the Dataset and Prepare the Data

In [1]:
import pandas as pd
data = pd.read_csv('./daily-co2-per-contry-2019-2021.csv')
data.head(13)

      country        date sector      value   timestamp
0      Brazil  01/01/2019  Power   0.108768  1546272000
1       China  01/01/2019  Power  14.251000  1546272000
2   EU27 & UK  01/01/2019  Power   1.882070  1546272000
3      France  01/01/2019  Power   0.053858  1546272000
4     Germany  01/01/2019  Power   0.378323  1546272000
5       India  01/01/2019  Power   3.349630  1546272000
6       Italy  01/01/2019  Power   0.160676  1546272000
7       Japan  01/01/2019  Power   1.295800  1546272000
8         ROW  01/01/2019  Power   9.171060  1546272000
9      Russia  01/01/2019  Power   2.404910  1546272000
10      Spain  01/01/2019  Power   0.125314  1546272000
11         UK  01/01/2019  Power   0.178639  1546272000
12         US  01/01/2019  Power   3.968920  1546272000

Find distinct contries

In [2]:
areas = data.country.unique()
countries = areas[:13]
print(areas)
print(countries)

['Brazil' 'China' 'EU27 & UK' 'France' 'Germany' 'India' 'Italy' 'Japan'
 'ROW' 'Russia' 'Spain' 'UK' 'US' 'WORLD']
['Brazil' 'China' 'EU27 & UK' 'France' 'Germany' 'India' 'Italy' 'Japan'
 'ROW' 'Russia' 'Spain' 'UK' 'US']

Find distinct sectors

In [3]:
print(data.sector.unique())

['Power' 'Industry' 'Ground Transport' 'Residential' 'Domestic Aviation'
 'International Aviation']

In [4]:
# convert date to Date object
data['date'] = pd.to_datetime(data['date'])

## Some Conlcusions

Before Lockdown: [01/01/2019-01/03/2020)

After Lockdown: [01/03/2020-31/12/2021]

Calculate the mean of Carbon Emission of Ground Transportaion per conuntry before and after March 1, 2020 (as the covid situaion becomes worse and worse)

In [8]:
import seaborn as sns
import numpy as np

NOTE: China might need a different time period

Comparison:

Before: 01/01/2019 - 01/03/2019
After: 01/03/2019 - 31/12/2019

In [46]:
test1 = {"Country": countries, "Hisotrical Jan-Feb": [
], "Current Jan-Feb": [], "Difference": []}

for country in countries:
    values_before = data[
        (data['country'] == country) 
            & (data['date'] < "2019-03-01") 
            & (data['date'] >= "2019-01-01")
            & (data['sector'] == "Ground Transport")
    ]['value']
    before = round(values_before.mean(), 2)
    test1["Hisotrical Jan-Feb"].append(before)

    values_after = data[
        (data['country'] == country)
            & (data['date'] < "2020-03-01") 
            & (data['date'] >= "2020-01-01")
            & (data['sector'] == "Ground Transport")
        ]['value']
    after = round(values_after.mean(), 2)
    test1["Current Jan-Feb"].append(after)

    diff = round((after - before) / before, 2)
    test1["Difference"].append("{:.0%}". format(diff))

test1 = pd.DataFrame(test1)
test1

      Country  Hisotrical Jan-Feb  Current Jan-Feb Difference
0      Brazil                0.46             0.43        -7%
1       China                2.53             1.76       -30%
2   EU27 & UK                2.38             2.39         0%
3      France                0.31             0.31         0%
4     Germany                0.40             0.41         2%
5       India                0.84             0.78        -7%
6       Italy                0.25             0.24        -4%
7       Japan                0.49             0.47        -4%
8         ROW                6.07             5.75        -5%
9      Russia                0.64             0.62        -3%
10      Spain                0.23             0.23         0%
11         UK                0.31             0.31         0%
12         US                4.41             4.26        -3%

In [49]:
test2 = {"Country": countries, "Hisotrical Mar-May": [
], "Current Mar-May": [], "Difference": []}

for country in countries:
    values_before = data[
        (data['country'] == country)
        & (data['date'] < "2019-06-01")
        & (data['date'] >= "2019-03-01")
        & (data['sector'] == "Ground Transport")
    ]['value']
    before = round(values_before.mean(), 2)
    test2["Hisotrical Mar-May"].append(before)

    values_after = data[
        (data['country'] == country)
        & (data['date'] < "2020-06-01")
        & (data['date'] >= "2020-03-01")
        & (data['sector'] == "Ground Transport")
    ]['value']
    after = round(values_after.mean(), 2)
    test2["Current Mar-May"].append(after)

    diff = round((after - before) / before, 2)
    test2["Difference"].append("{:.0%}". format(diff))

test2 = pd.DataFrame(test2)
test2

      Country  Hisotrical Mar-May  Current Mar-May Difference
0      Brazil                0.47             0.36       -23%
1       China                2.53             2.16       -15%
2   EU27 & UK                2.40             2.00       -17%
3      France                0.32             0.24       -25%
4     Germany                0.41             0.38        -7%
5       India                0.82             0.57       -30%
6       Italy                0.25             0.19       -24%
7       Japan                0.49             0.43       -12%
8         ROW                6.11             4.37       -28%
9      Russia                0.64             0.57       -11%
10      Spain                0.23             0.16       -30%
11         UK                0.31             0.25       -19%
12         US                4.52             3.75       -17%